@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.blue {
    background-color: #2e4481;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 0;
}
.bg-blue{
    background-color: #172650;
}
.colorBlue{
    color: #10204d;
}
.input-blue {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 3px solid #11214e;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: transparent;
}
select.white-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.circle {
    border: 5px solid #0e1b41;
}
.side-nav {
    height: 350px;
    background: rgb(13, 13, 63);
}